@model Tiplr.Models.InvItemDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    @Html.HiddenFor(model => model.InventoryItemId)
    @Html.HiddenFor(model => model.InventoryId)
    @Html.HiddenFor(model => model.ProductId)
    @Html.HiddenFor(model => model.UpdtUser)
    
    <h4>InvItemDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        @*       <dt>
            @Html.DisplayNameFor(model => model.InventoryItemId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InventoryItemId)
        </dd>*@

        <dt>
            <b>Inventory Date</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inventory.InventoryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>

        <dt>
            <b>Count</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnHandCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderedInd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderedInd)
        </dd>

        <dt>
            <b>Last Update By</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdtBy.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InventoryItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
