@model IEnumerable<Tiplr.Models.OrderListItem>

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
                    window.onload = function () {
                        alert("@ViewBag.Message");
                    };
    </script>
}

<p>

    @Html.ActionLink("Start a new order", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InventoryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Finalized)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderCost)
        </th>
        <th>
            Order Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.HiddenFor(modelItem => item.OrderId)
        @Html.HiddenFor(modelItem => item.InventoryId)
        @Html.HiddenFor(modelItem => item.OrderStatusId)
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Finalized)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus.OrderStatusMeaning)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.OrderId }) |
                @Html.ActionLink("Details", "Details", new { id = item.OrderId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OrderId }) |
                @Html.ActionLink("View Order Items","Index", "OrderItem", new { id = item.OrderId },null)
            </td>
        </tr>
    }

</table>
