<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tiplr</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
            <div class="container-fluid">
                <a class="navbar-brand" href="@Url.Action("Index","Home")" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:x-large">
                    <img class="image-logo" src="~/Content/Img/Tiplr-inverted.svg" alt="">
                    tiplr
                </a>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="nav nav-pills m-lg-auto text-center">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Products </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="@Url.Action("Index","Product")">Products</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index","Category")">Product Categories</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="@Url.Action("Create","Product")">Create a New Product</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Create","Category")">Create a New Product Category</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Inventory</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="@Url.Action("Index","Inventory")">Inventories</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index","InventoryItem",new { id = 0 })">Current Count Sheet</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="@Url.Action("Create","Inventory")">Start a New Inventory</a></li>

                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Orders</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="@Url.Action("Index","Order")">See All Orders</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index","OrderItem",new { id = 0 })">Current Order Items</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="@Url.Action("Create","Order")">Start a New Order</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
                <p class="text-end" style="color:black">@Html.Partial("_LoginPartial")</p>
            </div>
        </nav>
    </div>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Tiplr &nbsp;&nbsp;&nbsp; v1.0.0</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
