@model Tiplr.Models.InventoryDetail

@{
    ViewBag.Title = "DeleteInventory";
}

<h2>Delete Inventory</h2>

<h4>Are you sure that you want to delete the inventory for date:</h4>
@Html.DisplayFor(model => model.InventoryDate)
<div>

    <hr />
    @Html.HiddenFor(model => model.InventoryId)
    @*dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InventoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InventoryId)
        </dd>*@

 @*   <dt>
        @Html.DisplayNameFor(model => model.InventoryDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.InventoryDate)
    </dd>*@

@*    <dt>
        @Html.DisplayNameFor(model => model.Finalized)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Finalized)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.TotalOnHandValue)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TotalOnHandValue)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.LastModUser)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.LastModUser)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.CreatedByUser)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CreatedByUser)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.LastModifiedDtTm)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.LastModifiedDtTm)
    </dd>

    </dl>*@

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <button type="button" class="btn btn-default" onclick="window.history.back();">Cancel</button>
    <input type="submit" value="Delete" class="btn btn-default" /> 
    @* @Html.ActionLink("Back to List", "Index")*@

</div>
    }
</div>
