@model Tiplr.Models.InventoryDetail

@{
    ViewBag.Title = "Inventory Details";
}

<h2>Inventory Details</h2>

<div>
    <hr />
    @Html.HiddenFor(model => model.InventoryId)
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InventoryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InventoryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Finalized)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Finalized)
        </dd>

        <dt>
            <b>Total Cost of Inventory</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalOnHandValue)
        </dd>

        <dt>
            <b>Last updated by</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedUser.UserName)
        </dd>

        <dt>
            <b>Last Updated On </b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedDtTm)
        </dd>
        <dt>
            <b>Created By</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateUser.UserName)
        </dd>

    </dl>
</div>
<p>
    @if (!Model.Finalized == true)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.InventoryId })  
        @:  | 

    }
    @Html.ActionLink("Back to List", "Index")
</p>
