@model IEnumerable<Tiplr.Models.InventoryList>

@{
    ViewBag.Title = "Index";
}

<h2>Inventory</h2>

<p>
@Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-striped table-hover">
    <tr>
        @*        <th>
                @Html.DisplayNameFor(model => model.InventoryId)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.InventoryDate)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TotalOnHandValue)*@
            <b>Total Cost of Inventory</b>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Finalized)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.HiddenFor(modelItem => item.InventoryId)
        <tr>
            @*        <td>
                    @Html.DisplayFor(modelItem => item.InventoryId)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.InventoryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalOnHandValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Finalized)
            </td>
            <td>
                @*                @if (!item.Finalized == true)
        {
            @Html.ActionLink("Finalize", "Edit", new { id = item.InventoryId })
            @: |
        }
        else
        {
            @:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        }

        @Html.ActionLink("Details", "Details", new { id = item.InventoryId })

        @if (!item.Finalized == true)
        {
            @: |
            @Html.ActionLink("Delete", "Delete", new { id = item.InventoryId })
        }*@
                @if (!item.Finalized == true)
                {
                    @Html.ActionLink("Finalize", "Edit", new { id = item.InventoryId })
                    @: |
                    @Html.ActionLink("Details", "Details", new { id = item.InventoryId })
                    @: |
                    @Html.ActionLink("Delete", "Delete", new { id = item.InventoryId })
                    @: |
                }
                else
                {
                    @:<medium class="text-muted">Finalize</medium>
                    @: |
                    @Html.ActionLink("Details", "Details", new { id = item.InventoryId })
                    @: |
                    @:<medium class="text-muted">Delete</medium>
                    @: |
                }
                @Html.ActionLink("View Count Sheet", "Index", "InventoryItem", new { id = item.InventoryId }, null)

            </td>
        </tr>
    }

</table>
